/*Background */
body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

/*Navigation and hamburger menu*/
nav {
    background: #2b1457;
    padding: 10px 50px; /*2:35 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
}

.logo {
    color: #fff;
    padding-left: 12px;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

nav ul li a:hover {
    color: #9a2fdc;
    transition: color 0.5s;
}

.menu-icon {
    color: #fff;
    font-size: 30px;
    font-style: italic;
    display: none;
    align-items: center;
}

@media (max-width:768px) {
    nav ul{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #2b1457;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 10px;
    }

    .menu-icon {
        display: block;
        padding-top: 3px;
    }

    #menuList{
        transition: all 0.8s;
    }
}

.icon:hover {
    color: #9a2fdc;
    transition: color 0.5s;
}

/*Card */
.card {
    color: white;
    font-size: small;
    padding: 2;
}

/*Card button */
.card-content .btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer
}



.cert-img {
    cursor: pointer;
}